fastapi==0.95.1
sentry-sdk==1.21.0
uvicorn==0.22.0
fastapi-socketio==0.0.10
supertokens-python==0.12.8
clearml==1.10.3
urllib3==1.26.15
celery==5.2.7
pusher==3.3.2
motor==3.1.2
loguru==0.7.0
networkx==3.1
matplotlib==3.7.1
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
black==23.3.0
torchmetrics==0.11.4
nbformat==5.9.0